<!-- Quantity stepper template (unified) -->
<!-- Used via: <quantity-stepper qty="item.qty" max="item.stock" on-change="update(qty)"></quantity-stepper> -->
<div class="qty-stepper qty-stepper-entrance" ng-class="getSizeClass()">
  <button
    class="qty-stepper__btn"
    ng-click="decrement()"
    ng-disabled="qty <= min && !onRemove"
  >
    -
  </button>
  <div class="qty-stepper__value">{{ qty }}</div>
  <button
    class="qty-stepper__btn"
    ng-click="increment()"
    ng-disabled="qty >= max"
  >
    +
  </button>
</div>
